<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django | Kevin Stradtman</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'todo/css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
                <div class="col-md-6 mt-5">
                    <h3 class="text-center">Add Todo</h3>
                    <form action="/add_todo" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input type="text" name="author" class="form-control" placeholder="Author">
                        </div>
                        <div class="form-group">
                            <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Content"></textarea>
                        </div>
                        <input type="submit" value="Add Todo" class="btn btn-primary btn-block">
                    </form>
                </div>
                <div class="col-md-6 mt-5">
                    {% for todo in todos %}
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{todo.title}}</h5>
                            <small>{{todo.created_at}}</small>
                            <form action="/delete_todo" method="POST"><input type="submit" class="btn btn-danger" value="X"></form>
                          </div>
                          <p class="mb-1">{{todo.content}}</p>
                          <small>{{todo.author}}</small>
                        </a>
                    {% endfor %}
                </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>